@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
	font-family: "Roboto", sans-serif;
}

.container {
	background: #ecf4ff;
	color: #1c1c1c;
	margin: 64px;
	box-shadow: 6px 6px 6px #0e1d2f;
	border-radius: 20px;
	padding: 64px;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
}

.perfil {
	display: flex;
}

.perfil-foto {
	border-radius: 460px;
	max-height: 160px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
	margin-left: 16px;
}

.titulo h1 {
	font-weight: 700;
	font-size: 36px;
}

.titulo h3 {
	font-weight: 400;
	font-size: 24px;
	line-height: 10px;
}

.titulo h4 {
	display: inline-flex;
	font-weight: 400;
	font-size: 20px;
	line-height: 5px;
	color: #3468a7;
	padding-left: 5px;
	padding-right: 20px;
}

.titulo h4 a {
	text-decoration: none;
	color: #3468a7;
}

.icone-linkedin {
	max-height: 24px;
	vertical-align: text-bottom;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.icone-github {
	max-height: 25px;
	vertical-align: text-bottom;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.icone-email {
	max-height: 26px;
	vertical-align: text-bottom;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 13px;
}

.tema button {
	align-self: flex-end;
	/*  vertical - horizontal       	 */
	padding: 8px 16px;
	font-weight: 400;
	font-size: 24px;
	background: #ecf4ff;
	border-radius: 100px;
}

.projetos {
	display: flex;
	flex-direction: column;
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	margin-top: 32px;
	padding: 32px;
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
	border-radius: 20px;
}

.projetos-titulo {
	text-align: center;
	text-decoration: underline;
	list-style: none;
	font-weight: 700;
	font-size: 36px;
}

.projetos li {
	list-style-type: none;
	font-weight: 400;
	font-size: 24px;
	line-height: 48px;
}


.projetos li a {
	color: #1c1c1c;
	text-decoration: none;
}

.dark {
	background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
	background: #333439;
	color: #f6f6f6;
}

.dark .projetos {
	color: #1c1c1c;
}

.dark .tema button {
	background: #1c1c1c;
	color: #ffffff;
	border: 2px solid #f7f7f7;
}

.dark .titulo h4 {
	color: #ffffff;
}

.dark .titulo h4 a {
	text-decoration: none;
	color: #ffffff;